HOST=127.0.0.1
PORT=3333
NODE_ENV=development
API_DEBUG=false

APP_NAME=ESC-Guard
APP_URL=http://${HOST}:${PORT}
APP_PREFIX=/grd
APP_LOCALE=pt
APP_DESCRIPTION="Easy Contabil Authentication"
APP_KEY=

DB_CONNECTION=
DB_HOST=127.0.0.1
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
